.header {
    position: fixed;
    background: linear-gradient(rgba($header_color, .9), rgba($header_color, .6), rgba($header_color, .0),);

    // background-color: rgba($header_color, .8) ;
    // background-image: linear-gradient(45deg, rgb(29, 70, 112) 15%, rgba(24, 45, 62, .5) 75%);
    // background-size: 200% 200%;
    // animation: gradient 16s ease infinite;
    // @keyframes gradient {
    //     0% {
    //     background-position: 0% 50%;
    //     }
    //     50% {
    //     background-position: 100% 50%;
    //     }
    //     100% {
    //     background-position: 0% 50%;
    //     }
    // }

    z-index: 20;
    top: 0;
    // position: absolute;
    width: 100%;
    // height: 70px;
    padding: 30px 0;

    &__list {
        opacity: 1;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__prelogo{
        position: relative;
        width: 100%;
        &:hover{
            .header__logo__text{
                transition: all 1s;
                fill: #000000;


            }
            // .header__logo__planet, .header__logo__sat{
            //     animation: none;

            // }
            // .header__logo__text{
            //     transition: all 1s;

            //     fill: #000;
                
            // }
        }
        &__text{
            opacity: 0;
            position: absolute;
            z-index: 3;
            font-weight: 600;
            font-size: 16px;
            text-align: center;
            margin-left: -10px;
            margin-top: -5px;
            color: #fff;
            line-height: 20px;
        }
    }

    &__logo {
        // box-shadow: #0f505e 0 10px 10px;
        position: absolute;
        left: 50%;
        transform: translateX(calc(-50% - 5px));
        top: 10px;
        // position: absolute;
        margin-top: -30px;
        margin-right: 20px;

        // padding: 20px 20px 25px 20px;
        // border-radius: 0 0 20px 20px;
        // background-color: #c0b020;
        &__place{
            width: 120px;
        }
        span{
            position: absolute;
            background-color: #0c739e;
            padding: 20px 20px 15px 20px;
            top: 0;
            width: 100%;
            left: 0;
            box-shadow: #000000 0 0 10px;


        }

        &__text{
            position: relative;
            top: 29px;
            fill: rgb(0, 0, 0);


            


        }
        &__planet{
            position: absolute;
            // left: 58px;
            animation: plan 4s ease infinite;
            top: 28px;
            left: 28px;


        }
        &__subtext{

            position: absolute;
            top: 50px;
            left: 10px;


            // left: 70px;
            // top: 4px;

        }
        &__heart{
            position: absolute;
            top: 5px;
            left: 9px;

            animation: heart 4s ease infinite;

        }

    }
    &__menu {
        display: flex;
        
    }
    &__menu_item {
        position: relative;
        margin: 0 auto;
        transition: all 1s;
        // margin-right: 25px;
        // margin-right: 25px;
        padding: 0 15px;
        font-weight: 700;
        font-size: 16px;
        // border-right: 3px solid #ffffff;
        &::after {
            transition: all .7s;
            display: block;
            content: '';
            height: 3px;
            width: 0%;
            background: var(--main_color) ;
        }
        &__link {
            display: flex;
            // justify-content: space-between;
            align-items: center;
            color: #fff;
            transition: all .3s;
            padding-bottom: 5px;
            // &::after {
            //     transition: all .9s;
            //     display: block;
            //     content: '';
            //     height: 3px;
            //     width: 0%;
            //     background: var(--main_color) ;
            // }
            // &.active {
            //     color: var(--main_color) ;
                
                
                    
            //     .header__menu_item::after {
            //         width: 100%;
            //     }
                    
                
    
    
    
            // }

        }
        &:last-child {
            // margin-right: 0;
            // border-right: none;

        }
        &:hover, &:focus, &:active {
            &::after {
                width: 100%;
            }
            .header__products__menu{
                transition: all 1s;

                display: block;
            }
            .header__menu_item__link{
                color: var(--main_color) ;

            }
        }




    }
    &__end {
        display: flex;
        align-items: center;
    }

    



    &__products{
        position: relative;
        transition: all 1s;

 
        // &:hover, &:focus{

        //     .header__products__menu{
        //         transition: all 1s;

        //         display: block;
        //     }
        //     .header__products__title{
        //         transition: all .3s;

        //         color: var(--main_color) ;
        //     }

        // }
        &__menu {
            display: none;
            background-color: rgba($color: #fff, $alpha: .9);
            position: absolute;
            top: 20px;
            right: 10px;
            min-width: 220px;
            min-height: 200px;
            // padding: 10px 0;
            border-radius: 10px 0 10px 10px;
            &__item {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                // margin-bottom: 10px;
                padding: 10px 15px;
                transition: all .3s;
                color: var(--bg_color);
                box-shadow: 0 0px 1px #000000;

    
                &:last-child{
                    margin-bottom: 0px;
                }
                &__img {
                    width: 30px;
                    margin-right: 15px;
                    
                }
                &__title {
                    text-align: right;
                    font-size: 13px;
                }
                &:hover{
                    // color: #fff;
                    
                    background-color: var(--main_color) ;
    
                }
                &:first-child{
                    padding: 15px 15px 10px 15px;
                    border-radius: 10px 0 0px 0px;
    
        
        
                }
                &:last-child{
                    padding: 10px 15px 15px 15px;
                    border-radius: 0px 0 10px 10px;
    
                }
        
            }
            
        }
        &__title {
            color: #fff;
            cursor: pointer;

            padding: 0 15px;
            font-weight: 700;
            font-size: 16px;  
            &::after {
                margin-top: 5px;      

                transition: all .7s;
                display: block;
                content: '';
                height: 3px;
                width: 0%;
                background: var(--main_color) ;
            }

        } 

        &:not(.mobile):hover, &:focus{
            .header__products__title{
                color: var(--main_color);
                &::after{
                    width: 100%;
                }
            }
    

            
            .header__products__menu{
                display: block;            

            }
        }


    
    }




}




.active {
   

    a {color: var(--main_color)} ;

    &::after {
        width: 100%;
    }

        
    



}



@keyframes sata {
    0% {
        transform: translate(0, 0);
        transform: rotate(-45deg);

        // transform: translateY(0);

    }
    50% {
        
        transform: translate(-5px, -2px);


        // transform: rotate(0deg);
    }
    100% {
        
        transform: translate(0px, -0px);
        transform: rotate(-45deg);



        // transform: rotate(0deg);
    }
}
@keyframes plan {
    0% {

        transform: rotate(0deg);

        // transform: translateY(0);

    }
    50% {

        transform: rotate(-90deg);

        // transform: translateY(0);

    }
    100% {
        transform: rotate(-180deg);
        // transform: rotate(0deg);
    }
}

@keyframes heart {
    0% {

        transform: scale(1);

        // transform: translateY(0);

    }
    50% {

        transform: scale(1.2);

    }
    100% {
        transform: scale(1);
    }
}

// .user-svg {
//     fill: #fff;
// }

@media (max-width: 767px) {
    .header{
        padding: 40px 0;
        &__prelogo{
            left: 0;
            transform: scale(0.7);
        }
        &__logo{
            top: -10px;
            left: -20px;
            
            &__place{
                display: none;
            }
        }
        &__products{
            width: 100%;

            &__menu{
                // display: block;

                width: 100%;
                border-radius: 0px 0px 10px 10px;
                position: relative;
                top: 0;
                right: 0;
                margin: 0;
                margin-bottom: 10px;
                background-color: var(--main_color);

                &__item {
                    
                    color: var(--bg_color);

                    &__img {
                        width: 30px;
                        
                    }
                }    
            }
            &__title {
                padding: 20px 0;
                font-size: 25px;
                &_active {
                    // background-color: var(--bg_color) ;
                    color: var(--main_color);
                
                }

            } 

 


    

        }
        &__menu {
            position: fixed;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0;
            right: -100%;
            width: 80%;
            height: 100vh;
            padding: 50px 20px;
            background-color: rgba(0,0,0, .8);
            transition: 0.6s all;
            z-index: 11;
            
            
            // &__prelogo{
            //     display: none;
            // }

            &_active {
                right: 0;
            }
            &_item {
                width: 100%;
                margin: 0;
                border: none;
                padding: 20px 0;
                font-size: 25px;
                &:hover{
                    color: #fff;
                    
                    background-color: rgba($color: #fff, $alpha: .5) ;
    
                }

            }
        }

    
    }
    .active {
   

        a {color: var(--main_color)} ;
    
        &::after {
            width: 100%;
        }
    }
    
}
