.helper{
    position: relative;
    width: 100%;
    min-height: 400px;
    background-color: var(--bg_color);
    padding: 100px;
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__text {
        max-width: 500px;

        &__title {
            text-transform: uppercase;
            color: var(--main_color);
            font-weight: 600;
            font-size: 29px;
            margin-bottom: 50px;
        }
        &__text {
            color: #fff;
            font-family: 'Gabriela', serif;
            font-weight: 400;
            font-size: 22px;
            line-height: 25px;

        }
    }

    &__bg {
        position: relative;
        // width: 100%;
        height: auto;
        &__img {
            width: 300px;
            margin-right: 100px;
        }
        &__arrow {
            position: absolute;
            // height: 0;
            opacity: 1;


        }
        &__text {
            position: absolute;
            color: var(--main_color);
            font-weight: 500;
            font-size: 25px;

            
        }
    }


}            
.arrow{
    &_1{
        top: -70px;
        left: 0px;
        animation: arrow 2s 4s ease reverse infinite;

    }
    &_2{
        top: -60px;
        right: 160px;            
        transform: rotate(80deg);
        // height: 70px;
        width: auto;
        animation: arrow 3s 2s ease reverse infinite;


    }
    &_3{
        bottom: -70px;
        left: 0px;   
        transform: rotate(270deg);
        animation: arrow 3s 3s ease reverse infinite;

 
    }
    &_4{
        bottom: -70px;
        right: 130px;
        transform: rotate(180deg);
        animation: arrow 4s 4s ease reverse infinite;

    
    }

}

.text{
    &_1{
        position: absolute;
        top: -110px;
        left: -80px;
        transform: rotate(-20deg);

    }
    &_2{
        position: absolute;
        top: -80px;
        right: -10px;            
        transform: rotate(30deg);
        height: 70px;
        width: auto;
        font-size: 23px;
    }
    &_3{
        position: absolute;
        bottom: -100px;
        left: -100px;   
        transform: rotate(20deg);
 
    }
    &_4{
        position: absolute;
        bottom: -100px;
        right: -10px;
        transform: rotate(-5deg);
        font-size: 23px;

    
    }
}

@keyframes arrow {
    0% {
        opacity: .2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}
