.hamburger {
    cursor: pointer;
    display: none;
    position: absolute;
    right: 0px;
    // top: 100%;
    // transform: translateY(-50%);
    border-radius: 100%;
    width: 60px;
    // height: 50px;
    z-index: 12;
    padding: 10px;
    span {
        display: block;
        height: 4px;
        width: 100%;
        background-color: #fff;
        margin-bottom: 5px;
        transition: 0.5s all;
    }
    &_active {
        span {
            margin-bottom: -2px;
            &:nth-child(1){
                transform: translateY(1px) rotate(-45deg);
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: translateY(-1px) rotate(45deg);

            }

        }
    }
}


@media (max-width: 767px) {
    .hamburger {
        display: block;
    }
}