.title {
    font-weight: 700;
    font-size: 40px;
    color: var(--main_color);
    text-align: center;
    margin-bottom: 50px;
    text-shadow:1px 1px 0px var(--second_color),2px 2px 0px var(--second_color), 3px 3px 0px var(--second_color);
    
    // &::after {
    //     content: '';
    //     margin: 0 auto;
    //     margin-top: 10px;
    //     display: block;
    //     height: 3px;
    //     width: 250px;
    //     background-color: $main-color;

    //     box-shadow: 0 5px 10px #000;
        
    // }


}
.fz-20 {
    font-weight: 600;
    font-size: 20px;
    text-shadow: none;
    margin-bottom: 20px;

}
.light{
    color: var(--bg_color);

}
