$header-color: #043a2c;
$main_color: #c7c883;

// #DADC74
:root {
    
    --main_color: #c7c883;
    --second_color: #2a5275;
    --error_color: #a74134;
    --main_bg1: #043a2c;
    --main_bg: #135058;

    // 043a2c
    --bg_color: #103d3b;
    --text_light: #ffffff;
    --text_dark: #000000;

}


